<!DOCTYPE html>
<html lang="en">

<head>
    <link href="css\style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="images\logo-mercado-liebre.svg">
            </div>
            <div class="searchbar">
                <input type="text" placeholder="Search" class="SearchBar"></input>
                <button class="searchbutton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y con tarjeta de credito</div>
        </div>

        <ul class="site">
            <li><a href="https://www.digitalhouse.com">Ofertas</a></li>
            <li><a href="https://www.digitalhouse.com">Tiendas Oficiales</a></li>
            <li><a href="https://www.digitalhouse.com">Vender</a></li>
            <li><a href="https://www.digitalhouse.com">Ayuda</a></li>
            <p> </p>
            <li><a href="../views/register.html">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="../views/login.html">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            </li>
            <li><a href="https://www.digitalhouse.com">Mis Compras <i class="fa-solid fa-store"></i></a></li>
        </ul>
        <div> &nbsp </div>
        <div class="container-burguermenu">
            <i class="fa-solid fa-bars burguermenu"></i>
        </div>
    </header>
    <main>
        <img src="images\img-home-banner.jpg" alt="publicidad" width="100%">
        <h2 class="Titulos">Sección: Basado en tu última visita</h2>
        <div class="articulos">
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images\img-cafetera-moulinex.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$6700</span>
                        <span class="Discount">40% off</span>
                        <h3 class="article-description">Cafetera Moulinex</h3>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-macbook-pro-2019.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$230.000</span>
                        <span class="Discount">20% off</span>
                        <h3 class="article-description">MacBook Pro 2019</h3>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-samsung-galaxy-s10.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$70.500</span>
                        <span class="Discount">10% off</span>
                        <h3 class="article-description">Samsung Galaxy s10</h3>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-tv-samsung-smart.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$23.200</span>
                        <span class="Discount">5% off</span>
                        <h3 class="article-description">SmartTv Samsung 43</h3>
                    </div>
                </div>
            </div>
            <h2 class="Titulos"> Ofertas</h2>
            <p>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images\img-cafetera-moulinex.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$6700</span>
                        <span class="Discount">40% off</span>
                        <h3 class="article-description">Cafetera Moulinex</h3>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-macbook-pro-2019.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$230.000</span>
                        <span class="Discount">20% off</span>
                        <h3 class="article-description">MacBook Pro 2019</h3>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-samsung-galaxy-s10.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$70.500</span>
                        <span class="Discount">10% off</span>
                        <h3 class="article-description">Samsung Galaxy s10</h3>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-content">
                    <img class="product-image" src="images/img-tv-samsung-smart.jpg">
                    <div class="product-text">
                        <div class="camionsitoenvio"><i class="fa-solid fa-truck"></i></div>
                        <span class="Price">$23.200</span>
                        <span class="Discount">5% off</span>
                        <h3 class="article-description">SmartTv Samsung 43</h3>
                    </div>
                </div>
            </div>
        </div>
        </p>
    </main>

    <footer>

        <h4>
            <div class="FooterIcon"><i class="fa-solid fa-credit-card"></i></div>Pagá con tarjeta o en efectivo
        </h4>
        <div class="Descriptions">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</div>

        <h4>
            <div class="FooterIcon"><i class="fa-solid fa-gift"></i></div>Envío gratis desde $ 2.500
        </h4>
        <div class="Descriptions">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</div>

        <h4>
            <div class="FooterIcon"><i class="fa-solid fa-user-shield"></i></div>Seguridad, de principio a fin
        </h4>
        <div class="Descriptions">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</div>
        <div> &nbsp </div>
        <div class="CuerpoDeTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
</body>

</html>